{% extends 'authenticate/base.html' %}

{% block content %}

<h2 class="text-center">Available Food</h2>
<table class="table table-bordered table-hover table:stripped bg-light">
    <thead  class="alert alert-info">
        <tr>
        <th>Name</th>
        <th>Mobile no</th>
        <th>Address</th>
        <th>Quantity</th>
        <th>Food_type</th>
		<th>Operations</th>

        </tr>
    <tbody> 
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.address}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.food_type}}</td>
            <td><a href="{% url 'del' i.id %}" class="btn btn-outline-danger">Delete</a></td>
        </tr>
       
        

        {% endfor %}
    </tbody>

    </thead>
    
</table>

{% endblock %}